:root {
  --mainThemeColor: #2baf2b;
  --darkColor: black;
  --lightColor: white;
  --dangerouseColor: red;
  --shadowColor: #0000000f;
  --borderColor: #000000b3;
  --headerHeight: 60px;
  --toolbarHight: 50px;
  --rowHeight: 64px;
  --cellWidth: 120px;
}
